:root {
    --font-family: NeueMachina, sans-serif;
    --color-base-100: #fff;
    --color-base-content: #222;
}

body {
    background-color: var(--color-base-100);
    color: var(--color-base-content);
    font-family: var(--font-family);
}
